.header {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    // .header__item
    &__item {
        flex: 0 1 50%;
        &.image__item {
            background: url("../img/src/bg/bg.jpg") center / cover no-repeat;
        }
        &.info__item {
            padding: 65px 100px;
        }
    }
}

.logo {
    padding-bottom: 89px;
    display: flex;
}

.header__btn { 
    margin-top: 40px;
}